In [2]:
import pandas as pd

In [28]:
df = pd.read_csv('C:\\Users\\viks\\downloads\\addresses.csv')
df

,id,location_id,address_1,address_2,city,state_province,postal_code,country
0,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
1,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
2,3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US
3,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
4,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US
5,6,6,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
6,7,7,500 Arbor Road,NaN,Menlo Park,CA,94025,US
7,8,8,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
8,9,9,2510 Middlefield Road,NaN,Redwood City,CA,94063,US
9,10,10,1044 Middlefield Road,NaN,Redwood City,CA,94063,US
10,11,11,2140 Euclid Avenue.,NaN,Redwood City,CA,94061,US
11,12,12,1044 Middlefield Road,2nd Floor,Redwood City,CA,94063,US
12,13,13,399 Marine Parkway.,NaN,Redwood City,CA,94065,US
13,14,14,660 Veterans Blvd.,NaN,Redwood City,CA,94063,US
14,15,15,1500 Valencia Street,NaN,San Francisco,CA,94110,US
15,16,16,1161 South Bernardo,NaN,Sunnyvale,CA,94087,US
16,17,17,409 South Spruce Avenue,NaN,South San Francisco,CA,94080,US
17,18,18,114 Fifth Avenue,NaN,Redwood City,CA,94063,US
18,19,19,19 West 39th Avenue,NaN,San Mateo,CA,94403,US
19,20,21,123 El Camino Real,NaN,Belmont,CA,94002,US
20,21,22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,94103,US

In [12]:
pd.read_csv('C:\\Users\\viks\\downloads\\addresses.csv', header = None)
# bydefault pandas mai 1st row header hota hai agar wo nahi chaaiye toh header ka value none kardi ya kuch aur chaiye toh wo kard

,0,1,2,3,4,5,6,7
0,id,location_id,address_1,address_2,city,state_province,postal_code,country
1,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
2,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
3,3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US
4,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
5,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US
6,6,6,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
7,7,7,500 Arbor Road,NaN,Menlo Park,CA,94025,US
8,8,8,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
9,9,9,2510 Middlefield Road,NaN,Redwood City,CA,94063,US
10,10,10,1044 Middlefield Road,NaN,Redwood City,CA,94063,US
11,11,11,2140 Euclid Avenue.,NaN,Redwood City,CA,94061,US
12,12,12,1044 Middlefield Road,2nd Floor,Redwood City,CA,94063,US
13,13,13,399 Marine Parkway.,NaN,Redwood City,CA,94065,US
14,14,14,660 Veterans Blvd.,NaN,Redwood City,CA,94063,US
15,15,15,1500 Valencia Street,NaN,San Francisco,CA,94110,US
16,16,16,1161 South Bernardo,NaN,Sunnyvale,CA,94087,US
17,17,17,409 South Spruce Avenue,NaN,South San Francisco,CA,94080,US
18,18,18,114 Fifth Avenue,NaN,Redwood City,CA,94063,US
19,19,19,19 West 39th Avenue,NaN,San Mateo,CA,94403,US
20,20,21,123 El Camino Real,NaN,Belmont,CA,94002,US
21,21,22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,94103,US

In [15]:
pd.read_csv('C:\\Users\\viks\\downloads\\addresses.csv', names = ["a", "b", "c", "d","e","f","g"])

,a,b,c,d,e,f,g
id,location_id,address_1,address_2,city,state_province,postal_code,country
1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US
4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US
6,6,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
7,7,500 Arbor Road,NaN,Menlo Park,CA,94025,US
8,8,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
9,9,2510 Middlefield Road,NaN,Redwood City,CA,94063,US
10,10,1044 Middlefield Road,NaN,Redwood City,CA,94063,US
11,11,2140 Euclid Avenue.,NaN,Redwood City,CA,94061,US
12,12,1044 Middlefield Road,2nd Floor,Redwood City,CA,94063,US
13,13,399 Marine Parkway.,NaN,Redwood City,CA,94065,US
14,14,660 Veterans Blvd.,NaN,Redwood City,CA,94063,US
15,15,1500 Valencia Street,NaN,San Francisco,CA,94110,US
16,16,1161 South Bernardo,NaN,Sunnyvale,CA,94087,US
17,17,409 South Spruce Avenue,NaN,South San Francisco,CA,94080,US
18,18,114 Fifth Avenue,NaN,Redwood City,CA,94063,US
19,19,19 West 39th Avenue,NaN,San Mateo,CA,94403,US
20,21,123 El Camino Real,NaN,Belmont,CA,94002,US
21,22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,94103,US

In [ ]:
''' agar , ki jagah kuch aur value se seperated hau toh isme " sep" naam ka functiom usko change kardo 
for eg agar @ se seperated toh jaha header likha usi jagah pe sep = "@"
ye likhne wo phir @ pe seperate karega'''

In [18]:
df1 = pd.read_csv('C:\\Users\\viks\\downloads\\addresses.csv', skiprows = [1,3])

In [19]:
df1

,id,location_id,address_1,address_2,city,state_province,postal_code,country
0,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
1,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
2,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US
3,6,6,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
4,7,7,500 Arbor Road,NaN,Menlo Park,CA,94025,US
5,8,8,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
6,9,9,2510 Middlefield Road,NaN,Redwood City,CA,94063,US
7,10,10,1044 Middlefield Road,NaN,Redwood City,CA,94063,US
8,11,11,2140 Euclid Avenue.,NaN,Redwood City,CA,94061,US
9,12,12,1044 Middlefield Road,2nd Floor,Redwood City,CA,94063,US
10,13,13,399 Marine Parkway.,NaN,Redwood City,CA,94065,US
11,14,14,660 Veterans Blvd.,NaN,Redwood City,CA,94063,US
12,15,15,1500 Valencia Street,NaN,San Francisco,CA,94110,US
13,16,16,1161 South Bernardo,NaN,Sunnyvale,CA,94087,US
14,17,17,409 South Spruce Avenue,NaN,South San Francisco,CA,94080,US
15,18,18,114 Fifth Avenue,NaN,Redwood City,CA,94063,US
16,19,19,19 West 39th Avenue,NaN,San Mateo,CA,94403,US
17,20,21,123 El Camino Real,NaN,Belmont,CA,94002,US
18,21,22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,94103,US

In [22]:
df1.dtypes
# it shows the datatypes of each column

id                 int64
location_id        int64
address_1         object
address_2         object
city              object
state_province    object
postal_code       object
country           object
dtype: object

In [25]:
df1.head()
# shows 1st 5 columns agar koi aur caiye jese 2 ya 3 toh bracket mai (3) daala toh utne hi aayege

,id,location_id,address_1,address_2,city,state_province,postal_code,country
0,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
1,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
2,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US
3,6,6,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
4,7,7,500 Arbor Road,NaN,Menlo Park,CA,94025,US

In [26]:
df1.tail(2)

,id,location_id,address_1,address_2,city,state_province,postal_code,country
17,20,21,123 El Camino Real,NaN,Belmont,CA,94002,US
18,21,22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,94103,US

In [29]:
df.columns

Index(['id', 'location_id', 'address_1', 'address_2', 'city', 'state_province',
       'postal_code', 'country'],
      dtype='object')

In [40]:
a = df['city']
# iss method se ek time pe ek hi row ya column call kar sakte hai |

In [34]:
type(a)

pandas.core.series.Series

In [35]:
# series is equivalent to list

In [36]:
b = df[["city" , "country"]]

In [37]:
b

                   city country
0          Redwood City      US
1             San Mateo      US
2             San Mateo      US
3             San Mateo      US
4             San Mateo      US
5            Menlo Park      US
6            Menlo Park      US
7            Menlo Park      US
8          Redwood City      US
9          Redwood City      US
10         Redwood City      US
11         Redwood City      US
12         Redwood City      US
13         Redwood City      US
14        San Francisco      US
15            Sunnyvale      US
16  South San Francisco      US
17         Redwood City      US
18            San Mateo      US
19              Belmont      US
20        San Francisco      US

In [39]:
type(df[["city"]])
# double bracket means df and single bracket matlab list

pandas.core.frame.DataFrame

In [41]:
pd.read_csv("https://raw.githubusercontent.com/codeforamerica/ohana-api/master/data/sample-csv/phones.csv")

,id,contact_id,location_id,organization_id,service_id,country_prefix,department,extension,number,number_type,vanity_number
0,1,NaN,1.0,NaN,NaN,NaN,NaN,NaN,650 780-7525,voice,NaN
1,2,NaN,1.0,NaN,NaN,NaN,NaN,NaN,650 701-0856,fax,NaN
2,3,NaN,2.0,NaN,NaN,NaN,NaN,4385.0,650 403-4300,voice,NaN
3,4,NaN,2.0,NaN,NaN,NaN,NaN,NaN,650 403-4302,fax,NaN
4,5,NaN,3.0,NaN,NaN,NaN,English,NaN,650 403-4300,voice,NaN
5,6,NaN,3.0,NaN,NaN,NaN,NaN,NaN,650 403-4303,fax,NaN
6,7,NaN,4.0,NaN,NaN,NaN,NaN,4500.0,650 403-4300,voice,NaN
7,8,NaN,4.0,NaN,NaN,NaN,NaN,NaN,650 403-4303,fax,NaN
8,9,NaN,5.0,NaN,NaN,NaN,NaN,4100.0,650 403-4300,voice,NaN
9,10,NaN,5.0,NaN,NaN,NaN,NaN,NaN,650 403-4303,fax,NaN
10,11,NaN,6.0,NaN,NaN,NaN,NaN,NaN,650 326-2025,voice,NaN
11,12,NaN,6.0,NaN,NaN,NaN,NaN,NaN,650 326-9547,fax,NaN
12,13,NaN,7.0,NaN,NaN,NaN,NaN,NaN,650 322-0126,voice,NaN
13,14,NaN,7.0,NaN,NaN,NaN,NaN,NaN,650 322-4067,fax,NaN
14,15,NaN,8.0,NaN,NaN,NaN,NaN,NaN,650 323-2022,voice,NaN
15,16,NaN,8.0,NaN,NaN,NaN,NaN,NaN,650 326-9547,fax,NaN
16,17,NaN,9.0,NaN,NaN,NaN,NaN,NaN,650 780-7261,voice,NaN
17,18,NaN,9.0,NaN,NaN,NaN,NaN,NaN,650 569-3371,fax,NaN
18,19,NaN,10.0,NaN,NaN,NaN,Circulation,NaN,650 780-7018,voice,NaN
19,20,NaN,10.0,NaN,NaN,NaN,NaN,NaN,650 780-7069,fax,NaN
20,21,NaN,11.0,NaN,NaN,NaN,NaN,NaN,650 780-7010,voice,NaN
21,23,NaN,12.0,NaN,NaN,NaN,NaN,NaN,650 780-7077,voice,NaN
22,24,NaN,12.0,NaN,NaN,NaN,NaN,NaN,650 780-7004,fax,NaN
23,25,NaN,13.0,NaN,NaN,NaN,NaN,NaN,650 780-5740,voice,NaN
24,26,NaN,14.0,NaN,NaN,NaN,NaN,NaN,650 368-4643,voice,NaN
25,27,NaN,14.0,NaN,NaN,NaN,NaN,NaN,650 364-1712,fax,NaN
26,28,NaN,15.0,NaN,NaN,NaN,NaN,NaN,415 643-8000,voice,NaN
27,29,NaN,15.0,NaN,NaN,NaN,NaN,NaN,415 285-1391,fax,NaN
28,30,NaN,16.0,NaN,NaN,NaN,NaN,NaN,408 720-0420,voice,NaN
29,31,NaN,16.0,NaN,NaN,NaN,NaN,NaN,408 720-8075,fax,NaN
30,32,NaN,17.0,NaN,NaN,NaN,NaN,NaN,650 266-4591,voice,NaN
31,33,NaN,17.0,NaN,NaN,NaN,NaN,NaN,650 266-2594,fax,NaN
32,34,NaN,17.0,NaN,NaN,NaN,NaN,NaN,650 266-4594,fax,NaN
33,35,NaN,18.0,NaN,NaN,NaN,NaN,NaN,650 839-1447,voice,NaN
34,36,NaN,18.0,NaN,NaN,NaN,NaN,NaN,650 839-1457,fax,NaN
35,37,NaN,19.0,NaN,NaN,NaN,NaN,NaN,650 578-0400,voice,NaN
36,38,NaN,19.0,NaN,NaN,NaN,NaN,NaN,650 578-0440,fax,NaN
37,39,NaN,21.0,NaN,NaN,NaN,CalFresh,1223.0,7035551212,voice,703-555-ABCD
38,40,NaN,21.0,NaN,NaN,NaN,CalFresh,NaN,2025551212,fax,NaN
39,41,29.0,NaN,NaN,NaN,1.0,Referrals,1200.0,123-456-7890,voice,NaN
40,42,29.0,NaN,NaN,NaN,1.0,Referrals,NaN,202-555-1212,fax,NaN
41,43,NaN,22.0,NaN,NaN,NaN,Information,123.0,650 372-6200,voice,222-555-INFO
42,44,NaN,22.0,NaN,NaN,NaN,Reservations,NaN,650 627-8244,fax,NaN
43,45,NaN,22.0,NaN,NaN,NaN,Hotline,NaN,800 372-6200,hotline,NaN
44,46,NaN,22.0,NaN,NaN,NaN,Rental Assistance,202.0,650 372-6200,tty,NaN
45,52,36.0,NaN,NaN,NaN,NaN,CalFresh Applications,123.0,703-555-1212,voice,NaN
46,53,NaN,NaN,8.0,NaN,NaN,Operations,101.0,123-456-7890,voice,NaN
47,54,32.0,NaN,NaN,NaN,NaN,Operations,NaN,703-444-1234,fax,NaN
48,55,32.0,NaN,NaN,NaN,NaN,Operations,101.0,650-555-1212,voice,NaN
49,56,NaN,11.0,NaN,NaN,NaN,NaN,NaN,650 365-3738,fax,NaN
50,57,NaN,NaN,NaN,22.0,NaN,Passport Photos,123.0,123-456-7890,voice,NaN
51,58,NaN,NaN,NaN,22.0,NaN,Passport Photos Fax,NaN,789-456-1230,fax,NaN
52,59,NaN,NaN,NaN,22.0,NaN,Passport Help via SMS,NaN,650-222-5555,sms,NaN
53,60,29.0,NaN,NaN,NaN,NaN,NaN,NaN,650-555-1212,sms,NaN