In [1]:
s = "this is basic python string"
len(s)

In [5]:
count = 0
for i in s:
    count+=1
print(count)

23

In [6]:
s[::-1]

'gnirts nohtyp a si siht'

In [13]:
s = "this is basic python string"
for i in range(len(s)-1,-1,-1):
    print(s[i],end="")

gnirts nohtyp cisab si siht

In [16]:
i = len(s)-1
while i>=0:
    print(s[i],end=" ")
    i-=1

g n i r t s   n o h t y p   c i s a b   s i   s i h t

In [19]:
s = "ineuron"
v = "AaEeIiOoUu"
for i in s:
    if i in v:
        print ("vowel", i)

vowel i
vowel e
vowel u
vowel o

In [27]:
s = input("enter your string :")
if s[::-1] == s:
    print ("is palindrome")
else:
    print("not a palindrome ")

enter your string :123454321
is palindrome

In [34]:
d = {"india": "IN",
    "canada" : "ca",
    "china": "CH",
    "united states" : "us"}

In [30]:
"india" in d

True

In [35]:
small =[]
big = []
for i in d:
    if len(i)<=5:
        small.append(i)
    else:
        big.append(i)
        
print(small)
print(big)

['india', 'china']
['canada', 'united states']

In [46]:
d_1 ={"ineuron" :{
                    "a" :14,
                    "b" :10,
                    "c" :4
                    },
      "course" :{
                    "d" :45,
                    "e" :4,
                    "f" :1
      }
}

In [49]:
lst =[]
for i in d_1.values():
    print(i)
    for j in i.values():
        lst.append(j)
    print(max(lst))

{'a': 14, 'b': 10, 'c': 4}
14
{'d': 45, 'e': 4, 'f': 1}
45

# functions practice

In [50]:
def test1(*args):
    return args
"""to pass multiple argument you can use *nameOfArgument """

'to pass multiple argument you can use *nameOfArgument '

In [51]:
def test2(**kwargs):
    return kwargs 
"""to pass multiple argument with key value pair you can use **nameOfArguments  """

'to pass multiple argument with key value pair you can use **nameOfArguments  '

In [52]:
def test3(a,*args,**kwargs):
    return a , args , kwargs
"""u need to maintain the order of the a args annd kwargs """

'u need to maintain the order of the a args annd kwargs '

In [53]:
"""now suppose i have to create a function without name i can use lambda it is a reserved word in python """

'now suppose i have to create a function without name i can use lambda it is a reserved word in python '

In [64]:
a = lambda a, b: a*b
a(8,3)
"""after the semicoln we expect the retrun the from 
 it whatever is written after semicolon"""

'after the semicoln we expect the retrun the from \n it whatever is written after semicolon'

In [65]:
l =[2,55,3,355,6,7,78,2,545,656,6,7,8,9]

In [66]:
[i+2 for i in l]

[4, 57, 5, 357, 8, 9, 80, 4, 547, 658, 8, 9, 10, 11]

In [70]:
[(i+2, i*2) for i in l]

[(4, 4),
 (57, 110),
 (5, 6),
 (357, 710),
 (8, 12),
 (9, 14),
 (80, 156),
 (4, 4),
 (547, 1090),
 (658, 1312),
 (8, 12),
 (9, 14),
 (10, 16),
 (11, 18)]

In [71]:
"""for list comprehension it gives the return at LHS and procdeure in mid and condition in RHS"""

'for list comprehension it gives the return at LHS and procdeure in mid and condition in RHS'

In [72]:
[i+2 for i in l if i<4]

[4, 5, 4]

# iterator generator and iterable

In [2]:
l = [1,2,3,4,5,6]

In [3]:
next(l)

TypeError: 'list' object is not an iterator

In [4]:
l = iter(l)

In [5]:
next(l)

1

In [6]:
next(l)

2

In [7]:
next(l)

3

In [8]:
next(l)

4

In [9]:
next(l)

5

In [10]:
next(l)

6

In [11]:
next(l)

StopIteration:

In [12]:
a = 56

In [13]:
next(a)

TypeError: 'int' object is not an iterator

In [14]:
a = iter(a)

TypeError: 'int' object is not iterable

#### i.e int is not an iterable object ....pehle iterator ko iterable mai convert karo by " iter()a "  and then usko next() ka use karke print karsakte ho ...isse hume pata chala ki for loop kese work karta hai internally

In [15]:
range(45)

range(0, 45)

In [16]:
range(0,45,3)

range(0, 45, 3)

In [17]:
list(range(0,45,3))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42]

## generator

In [18]:
def gencube(n):
    for i in range(n):
        yield i**3

In [19]:
gencube(10)

In [21]:
for i in gencube(9):
    print(i)

0
1
8
27
64
125
216
343
512

In [22]:
"""so yield kya karega ki wo logic mai yaad rakhega ki tumne pichli bar kya generate kiya tha
logic kya hai aur kaha tak jana hai """
"""yeild ki help se apne range type function bana sajte hai jisse ki agar bada value aayega toh pura spcae occupy nahi hoga"""

'yeild ki help se apne range type function bana sajte hai jisse ki agar bada value aayega toh pura spcae occupy nahi hoga'

In [31]:
f = open("text.txt","w")

In [29]:
pwd()

'C:\\Users\\viks'

In [33]:
f.write("this is my first file where i am writing something in it")

56

In [34]:
f.close()

In [35]:
%%writefile text2.txt
this is my data that i want to store in it

Writing text2.txt

In [37]:
f=open("text.txt")

In [38]:
f.read()

'this is my first file where i am writing something in it'

In [39]:
f.read()

''

In [40]:
f.seek(4)

4

In [41]:
f.read()

' is my first file where i am writing something in it'

In [42]:
f.tell()

56

In [50]:
f= open("text.txt")

In [51]:
f.read()

'this is my first file where i am writing something in it\nffgivgdiygfbvbv\ndvyivgvbrvrerv\nvhyvhvksdvryhfonfm;s\n\nvfgierfhldvrohf;ewfhewfuoewjfiewgfoegfhwdhfoewgciwdncdgvfjmfadsasdsad\n'

In [52]:
f.seek(0)

0

In [53]:
f.readline()

'this is my first file where i am writing something in it\n'

### read reads whole data and readline read only single line and if u open your file in r+ mode it will read and write both at the same time